.semestre{
    background-color: beige;
    padding:10px 20px;
    margin:10px 0;
    width: 200px;
    display:flex;
    justify-content:space-between;
}

input{
    width: 70px;
    margin-left:20px;
    background:none;
    border:1px solid rgb(83, 83, 243);
    text-align: center;
}

.icon{
    height: 15px;
    width: 15px;
}
.content{
    margin-left:50px;
}
.visible{
    display: none;
}