<body background="./assets/images/fondo-degradado.jpeg" class="fondo">
    <div class="card">
        <div class="section1">
            <img src="./assets/images/fondoLibros.jpeg" alt="" class="libros">
        </div>
        <div class="section2">
            <form class="formulario" [formGroup]="logingForm" (ngSubmit)="prueva()" action="">
                <!-- onLoging(logingForm.value) -->
                <span class="logo-mini">
                    <img class="logo-peque" src="./assets/images/logo-peque.png" alt="">
                </span>
                <img class="logo-imput name" src="./assets/images/circle-user-regular.svg" alt="">
                <img class="logo-imput pass" src="./assets/images/lock-solid.svg" alt="">
                
                <input class="email" type="email" placeholder="Email" formControlName="email">
                <input class="password" type="password" placeholder="Password" formControlName="password">
                <button [disabled]="logingForm.invalid" type="submit" class="ingresar">Ingresar</button>
                

            </form>
        </div>
    </div>

</body>

