<body>
    <nav>
        <div><a href="#"><img class="nav-img" src="./assets/images/edit-profile.png" alt=""></a>
        </div>
        <div><a href="#"><img class="nav-img" src="./assets/images/delete-user.png" alt=""></a>
        </div>
        <div><a href="#"><img class="nav-img" src="./assets/images/Logout.png" alt=""></a></div>
    </nav>
    <div class="contenedor">
        <div class="block">
            <app-alumno-block></app-alumno-block>
        </div> 
        
        <div class="datos-perfil"> 

            <div class="image">
                <img class="icon-person" src="./assets/images/icon-person.jpg" alt="">
            </div>

            <div class="inicial">
                <div class="boton">
                    <i class="fas fa-user"></i>
                    <div class="iniciar">
                        <h3> nombre </h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

